{% extends "layout.twig" %}
{% block content %}
  <form class="form" method="post" action="{{ action }}">
    <ol class="list">
      {% for question in questions %}
        <li class="item">
          <p class="label">{{ question.text }}</p>
          {% if question.type == 'text' %}
            <input type="text" class="input list-input" name="{{ question.number }}">
          {% elseif question.type == 'checkbox' %}
            <ol type="a" class="answers list">
              {% for key, answer in question.answers %}
                <li class="answer">
                  <input type="checkbox" class="checkbox" name="{{ question.number }}[]" value="{{ key+1 }}">
                  <p class="checkbox-text">
                    <span>{{ answer }}</p>
                </li>
              {% endfor %}
            </ol>
          {% endif %}
        </li>
      {% endfor %}
    </ol>
    <button type="submit" class="button">Send</button>
  </form>
{% endblock %}
